/* You can add global styles to this file, and also import other style files */
body {
  background-color: #181818 !important;
  color: #f1f1f1 !important;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.row-sections {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.section-left {
  flex: 1;
  background: #2e2e2e;
  padding: 24px;
  border-radius: 12px;
}

.section-right {
  flex: 2;
  background: #2e2e2e;
  padding: 24px;
  border-radius: 12px;
}
